[submodule "dependencies/IdentityServer4"]
	path = dependencies/IdentityServer4
	url = https://github.com/IdentityServer/IdentityServer4.git
[submodule "dependencies/IdentityServer4.EntityFramework"]
	path = dependencies/IdentityServer4.EntityFramework
	url = https://github.com/IdentityServer/IdentityServer4.EntityFramework.git
[submodule "src/external/device-detector"]
	path = dependencies/device-detector
	url = https://github.com/piwik/device-detector.git 