<div class="row wrapper border-bottom white-bg page-heading">
	<div class="col-sm-8">
		<h2>Secţii de votare</h2>
		<ol class="breadcrumb">
			<li>
				<a ui-sref="index.main">Home</a>
			</li>
			<li class="active">
				<strong>Secţii de votare</strong>
			</li>
		</ol>
	</div>
	<div class="col-sm-4">
		<div class="title-action">
			<a ng-click="$root.goto('index.voting_station_new')" class="btn btn-primary btn-sm"><i class="fa fa-plug"></i> Adaugă secţie de votare</a>
		</div>
	</div>
</div>



<div class="wrapper wrapper-content animated fadeInRight ecommerce">
	<div class="ibox-content m-b-sm border-bottom">
		<form name='votingStationsSearchForm' ng-submit="vm.search()" novalidate>
			<div class="row">
				<div class="col-sm-2">
					<div class="form-group">
						<label class="control-label">Nr Crt</label>
						<input type="text" name="product_name" placeholder="ex: 354" class="form-control" ng-model="vm.query.crt">
					</div>
				</div>
				<div class="col-sm-4">
					<div class=" form-group ">
						<label class="control-label" for="price ">Stat</label>
						<input type="text " id="price" name="price" placeholder="ex: Albania" class="form-control" ng-model="vm.query.country">
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group ">
						<label class="control-label " for="quantity ">Localitate</label>
						<input type="text " id="quantity " name="quantity" placeholder="ex Tirana" class="form-control" ng-model="vm.query.city">
					</div>
				</div>
				<div class="col-sm-2">
					<div class="form-group ">
						<label class="control-label " for="quantity ">Stare (activ / inactiv)</label>
						<div class="btn-group">
							<label class="btn btn-default" ng-model="vm.query.isEnabled" uib-btn-radio="true" uncheckable>Activ</label>
							<label class="btn btn-default" ng-model="vm.query.isEnabled" uib-btn-radio="false" uncheckable>Inactiv</label>
						</div>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-sm-12">
					<input type="submit" class="btn btn-primary pull-right" value="Caută" />
				</div>
			</div>

		</form>

	</div>

	<div class="row ">
		<div class="col-lg-12 ">
			<div class="ibox ">
				<div class="ibox-content ">

					<table class="footable table table-stripped toggle-arrow-tiny " data-page-size="15 ">
						<thead>
							<tr>
								<th>
									<a ng-click="vm.sort('crt')">
										Nr. Crt.
										<span ng-show="vm.sortBy === 'crt' && vm.sortAscending === true " class="fa fa-caret-up "></span>
										<span ng-show="vm.sortBy === 'crt' && vm.sortAscending === false " class="fa fa-caret-down "></span>
									</a>
								</th>
								<th>
									<a ng-click="vm.sort('country')">
										Stat
										<span ng-show="vm.sortBy === 'country' && vm.sortAscending === true " class="fa fa-caret-up "></span>
										<span ng-show="vm.sortBy === 'country' && vm.sortAscending === false " class="fa fa-caret-down "></span>
									</a>
								</th>
								<th>
									<a ng-click="vm.sort('city')">
										Localitate
										<span ng-show="vm.sortBy === 'city' && vm.sortAscending === true " class="fa fa-caret-up "></span>
										<span ng-show="vm.sortBy === 'city' && vm.sortAscending === false " class="fa fa-caret-down "></span>
									</a>
								</th>
								<th>Adresa</th>
								<th>Coordonate</th>
								<th>Stare</th>
								<th>Prioritate</th>
								<th>Acţiuni</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in vm.items track by $index ">
								<td>
									{{ item.crt }}
								</td>
								<td>
									{{ item.country }}
								</td>
								<td>
									{{ item.city }}
								</td>
								<td>
									{{ item.address }}
								</td>
								<td>
									{{ item.location }}
								</td>
								<td>
									<span class="label label-primary " ng-if="item.isEnabled ">Activ</span>
									<span class="label label-danger " ng-if="!item.isEnabled ">Inactiv</span>
								</td>
								<td>
									{{ item.priority }}
								</td>
								<td class="text-right ">
									<div class="btn-group ">
										<button class="btn-white btn btn-xs " ng-click="vm.gotoProduct($index) ">Detalii</button>
										<button class="btn-white btn btn-xs " ng-click="vm.gotoEditProduct($index) ">Modifica</button>
										<button class="btn-danger btn btn-xs " ng-click="vm.delete(item.id) ">Sterge</button>
									</div>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="6 ">
									<ul ng-change="vm.search()" uib-pagination total-items="vm.pagination.totalItems " ng-model="vm.pagination.currentPage " max-size="vm.pagination.maxDisplayedPages " class="pagination-sm " boundary-links="true " force-ellipses="true "></ul>
								</td>
							</tr>
						</tfoot>
					</table>

				</div>
			</div>
		</div>
	</div>


</div>
