@{
    ViewData["Title"] = "Confirmare adresă email";
}

<h2>@ViewData["Title"].</h2>
<div>
    <p>
        Vă mulțumim pentru confirmarea adresei de email. Vă rugăm să <a asp-controller="Account" asp-action="Login">apăsați aici pentru autentificare</a>.
    </p>
</div>
