@{
    ViewData["Title"] = "Confirmare recuperare parolă";
}

<h2>@ViewData["Title"].</h2>
<p>
    Vă rugăm sa verificați adresa de email pentru un mesaj referitor la schimbarea parolei.
</p>
