@model GovITHub.Auth.Identity.Models.AccountViewModels.LoggedOutViewModel
@inject IViewLocalizer Localizer

<div class="page-header">
    <h1>
        @Localizer["Logout"]
        <small>@Localizer["You are now logged out"]</small>
    </h1>

    @if (Model.PostLogoutRedirectUri != null)
    {
        <div>
            @Localizer.GetString("Click {0} to return to {1}", Model.PostLogoutRedirectUri, Model.ClientName)
        </div>
    }

    @if (Model.SignOutIframeUrl != null)
    {
        <iframe style="display:none" width="0" height="0" class="signout" src="@Model.SignOutIframeUrl"></iframe>
    }
</div>