@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
    ViewData["LoginExtra"] = "Sau creează contul folosind";
    var loginUrlLink = Url.Content("~/account/login" + ViewData["ReturnUrlQ"]);
}

<div class="row login-form">
    <div class="col-md-12">
        <div class="col-md-6 col-md-offset-3">
            <h2 class="text-center">Înregistrare</h2>
            @if ((bool)ViewData["ShowOrigin"])
            {
                <p class="text-center">Ai fost redirectionat de pe <a href="@ViewData["OriginUrl"]" target="_blank" class="link-gray">@ViewData["OriginUrl"]</a></p>
            }
            <br />
            <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" id="register-form" class="form-horizontal">
                <div class="form-group">
                    <p>
                        <label class="info-register">Ai deja cont? <a href="@loginUrlLink" class="link-gray">Autentifică-te.</a></label>
                    </p>
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input type="email" asp-for="Email" placeholder="Email" class="form-control" tabindex="1" />
                </div>
                <div class="form-group">
                    <input type="password" asp-for="Password" placeholder="Parolă" class="form-control" tabindex="2" />
                </div>
                <div class="form-group">
                    <input type="password" asp-for="ConfirmPassword" placeholder="Confirmă parola" class="form-control" tabindex="3" />
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="form-control btn btn-login">Creează cont</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@{ await Html.RenderPartialAsync("_ExternalLoginProviders"); }

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
