@{
    ViewData["Title"] = "Confirmare schimbare parolă acces.";
}

<h1>@ViewData["Title"].</h1>
<p>
    Parola de acces a fost schimbată. Vă rugăm <a asp-controller="Account" asp-action="Login">apăsați aici pentru autentificare</a>.
</p>
