<footer class="navbar navbar-fixed-bottom">
    <div class="row">
        <div class="col-md-8 col-xs-8 col-sm-8">
            <a href="http://gov.ro" target="_blank"><img src="~/images/logo-guv.png" class="logo-guv" /></a>
            <a href="http://ithub.gov.ro" target="_blank"><img src="~/images/govithub-logo-gray.png" class="logo-govit" /></a>
        </div>
        <div class="col-md-4  col-xs-4 col-sm-4 text-right">
            <a href="https://www.facebook.com/govithub/" target="_blank" title="Find us on Facebook"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/GovITHub_Ro" target="_blank" title="Find us on Twitter"><i class="fa fa-twitter"></i></a>
            <a href="https://github.com/gov-ithub/auth-sso" target="_blank" title="Find us on GitHub"><i class="fa fa-github"></i></a>
        </div>
    </div>
</footer>