<form name="organizationForm" novalidate>
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-sm-4">
            <h2>Organizations</h2>
            <ol class="breadcrumb">
                <li>
                    <a ui-sref="index.main">Honm</a>
                </li>
                <li>
                    <a ui-sref="index.organizations">Organizations</a>
                </li>
                <li>
                    {{ (vm.status.edit) ? 'Edit' : 'Create' }}
                </li>
                <!--<li class="active">
                    <strong>{{  vm.status.type  }}</strong>
                </li>-->
            </ol>
        </div>
        <div class="col-sm-8">
            <div class="title-action">
                <a class="btn btn-primary btn-sm" ng-click="organizationForm.$valid && vm.save()"><i class="fa fa-save"></i> Salveaz?</a>
            </div>
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-7">
                <!-- Name -->
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12 b-r">
                                <div class="form-group">
                                    <label>Nume</label>
                                    <span ng-messages="organizationForm.name.$error" class="has-error">
                                        <span ng-message="required"> (obligatoriu)</span>
                                        <span ng-message="maxlength"> (Numarul maxim de caractere 200)</span>
                                    </span>
                                    <input type="text" name="name" placeholder="exemplu: Test123" 
                                           ng-model="vm.data.name" ng-maxlength="200" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label>Website</label>
                                    <span ng-messages="organizationForm.website.$error" class="has-error">
                                        <span ng-message="maxlength">(Numarul maxim de caractere 200)</span>
                                    </span>
                                    <input type="url" name="website" placeholder="http://www.gov.ro"
                                           ng-model="vm.data.website" ng-maxlength="200" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

