<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Users</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="index.main">Home</a>
            </li>
            <li>
                <a ui-sref="index.users">Users</a>
            </li>
            <li class="active">
                <strong>{{  vm.data.name  }} &nbsp;</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="" class="btn btn-primary btn-sm"><i class="fa fa-save"></i> Update</a>
        </div>
    </div>
</div>

